# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'YAML Path'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'yaml-path:toggle'
        }
      ]
    ]
  }
]
